<%= form_with model: article do |form| %>
  <div class="mb-3">
    <%= form.text_field :title, class: "form-control", placeholder: "Title" %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.text_area :body, class: "form-control", placeholder: "Message" %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit class: "btn btn-secondary" %>
  </div>
<% end %>
