<div class="mt-4 p-5 bg-tertiary text-dark rounded border">
  <h1><%= @article.title %></h1>

  <p><%= @article.body %></p>
</div>
<br/>
<ul class="list-group">
    <li><%= link_to "Edit", edit_article_path(@article), class: "btn btn-secondary" %></li>
    <br/>
    <li><%= link_to "Delete", article_path(@article), class: "btn btn-secondary", 
                    data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>


<hr>

<h2><u>Comments</u></h2>
<%= render @article.comments %>
<br/>

<h3>Add a comment:</h3>
<%= render 'comments/form' %>